<h1>StaticDeck#home</h1>
<%= link_to 'All Cards', cards_path %><br>
<a id="start" href="#">Start!</a>
<hr>

<div id="task">
</div>

<div id="code_window">
	<ol id="code">
	</ol>
</div>

<div id="score_window">
</div>
